@font-face {
	font-family: 'Museo Sans Cyrl';
	src: local('Museo Sans Cyrl'),
		url('../fonts/museosanscyrl-300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: local('Museo Sans Cyrl'),
		url('../fonts/MuseoSansCyrl-500.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Evolventa';
	src: local('Evolventa'), url('../fonts/Evolventa-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Evolventa';
	src: local('Evolventa'), url('../fonts/Evolventa-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 20px;
}

.nav-link {
	position: relative;
	display: inline-block;
	color: #000;
	font-family: 'Museo Sans Cyrl';
	font-size: 16px;
	font-weight: 300;
	margin-right: 20px;
	/* Отступ для подчеркивания ссылки */
	padding-bottom: 5px;
}

/* Для появления подчеркивания ссылки */
.nav-link:hover::before {
	left: 0;
	right: 0;
	transition: right 300ms;
}

.nav-link::before {
	background: rgba(0, 0, 0, 0.702);
	bottom: 0;
	content: '';
	height: 1px;
	left: 100%;
	position: absolute;
	right: 100%;
	transition: right 0s 300ms, left 300ms;
}

.nav-link:last-child {
	margin-right: 0;
}

.social-link {
	display: inline-block;
	margin-right: 23px;
}

.social-link path:first-child {
	fill: #010102;
	transition: fill 300ms;
}

/* Выделяет объекты при наведении */
.social-link:hover {
	transform: scale(1.2);
}

.social-link:last-child {
	margin-right: 0;
}

.hero-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.hero-left {
	max-width: 612px;
}

.hero-title {
	color: #000;
	font-family: Evolventa;
	font-size: 44px;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 46px;
}

.hero-description {
	color: #000;
	font-family: Evolventa;
	font-size: 22px;
	font-weight: 400;
	line-height: 140%;
	margin-bottom: 67px;
	max-width: 545px;
}

.hero-btn {
	display: inline-block;
	color: #1a1b16;
	text-align: center;
	font-family: Evolventa;
	font-size: 20px;
	font-weight: 700;
	line-height: 140%;
	background: #d2fe67;
	/* Время изменения цвета кнопки */
	transition: background 0.3s;
	width: Fixed (480px)px;
	height: Hug (68px)px;
	top: 538px;
	left: 130px;
	padding: 20px 182px;
	gap: 10px;
	border-radius: 10px 10px 10px 10px;
	opacity: 0px;
}

/* Какой цвет при наведении */
.hero-btn:hover {
	background: #9fd417;
}

.hero-right {
	position: relative;
	overflow-y: hidden;
	height: 40rem;
	padding: 0 2.3125rem;
}

.hero-reviews-list {
	animation: y-scroll 90s linear infinite;
	margin-bottom: 30px;
}

.hero-reviews-list:last-child {
	margin-bottom: 0;
}

.hero-right::before {
	background: linear-gradient(#fff, transparent);
	top: 0;
}

.hero-right::after {
	background: linear-gradient(0deg, #fff, transparent);
	bottom: 0;
}

.hero-right::after,
.hero-right::before {
	content: '';
	height: 8.75rem;
	left: 0;
	position: absolute;
	right: 0;
	z-index: 1;
}

.hero-reviews {
	display: flex;
	align-items: center;
	gap: 19px;
	margin-bottom: 30px;
	transition: transform 0.4s;
}

.hero-reviews:hover {
	transform: scale(1.03);
}

.hero-reviews:last-child {
	margin-bottom: 0;
}

.hero-reviews:nth-child(2n) {
	flex-direction: row-reverse;
}

.hero-reviews-content {
	position: relative;
	padding: 18px 20px 30px;
	border-radius: 20px;
	background: #fff;
	filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.1019607843));
}

.hero-reviews-content::before {
	background: #fff;
	border-radius: 0 0.5rem 0 0.5rem;
	content: '';
	height: 1.25rem;
	left: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg) skew(-5deg, -5deg);
	width: 1.25rem;
	z-index: -1;
}

.hero-reviews:nth-child(2n) .hero-reviews-content::before {
	left: 0;
}

.hero-reviews-name {
	color: #000;
	font-family: Museo Sans Cyrl;
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
	margin-bottom: 6px;
}

.hero-reviews-tariff {
	/* Чтобы не всю ширину форматировать как блок*/
	display: inline-block;
	color: #1a1b16;
	font-family: Museo Sans Cyrl;
	font-size: 12px;
	font-weight: 300;
	line-height: 130%;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #f2f3f7;
	padding: 0 5px;
	margin-bottom: 21px;
}

.hero-reviews-text {
	color: #000;
	font-family: Museo Sans Cyrl;
	font-size: 14px;
	font-weight: 300;
	line-height: 120%;
}

@keyframes y-scroll {
	0% {
		transform: translateY(0);
	}

	to {
		transform: translateY(calc(-100% - 30px));
	}
}

.hero-bottom {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.hero-card {
	display: flex;
	align-items: center;
	gap: 9px;
	justify-content: center;
	border-radius: 10px;
	/* min-width: 309px;
	min-height: 34px; */
	top: 793px;
	border: 1px solid #000;
	padding: 20px 33px;
	font-family: Museo Sans Cyrl;
	font-size: 24px;
	font-weight: 400;
}

.hero-card span {
	font-family: Museo Sans Cyrl;
	font-size: 24px;
	font-weight: 300;
	line-height: 33.6px;
	text-align: left;
}
